table{
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(255, 240, 209);
}
th{
    color: rgb(113, 67, 8);
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgb(238, 198, 146);
    
}
thead{
    background-color: rgb(253, 194, 123);
}
tbody{
    background-color: rgb(246, 219, 184);
}
td{
    border: 2px solid black;
    border-radius: 5px;
}